<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <!-- Message Block -->
    <%# messages() %>
    
    <!-- body -->
    <%- stickers %>
<div>
     <img src="./images/upgrades/Bee Kind Cute bumper sticker.jpg"> <title>Bee Kind</title>
</div>
   