<section id="add-ons">
    <h2>Delorean Upgrades</h2>
    <div class="flex">
        <a href="/addons/flux-capacitor" title="flux-capacitor">
            <figure>
                <div class="add-col">
                 <img src="./images/upgrades/flux-cap.png" alt="Flux-Capacitor">   
                </div>
                <figcaption>Flux Capacitor</figcaption>
            </figure>
        </a>
        <a href="addons/flame-decals" title="flame decals">
            <figure>
                <div class="add-col">
                    <img src="./images/upgrades/flame.jpg" alt="flame-decals">
                </div>
                <figcaption>Flame Decals</figcaption>
            </figure>
        </a>
    </div>
    <div class="flex">
        <a href="/addons/bumper-stickers" title="bumper stickers">
            <figure>
                <div class="add-col">
                    <img src="./images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>
                <figcaption>Bumper Stickers</figcaption>
            </figure>
        </a>
        <a href="/addons/hub-caps" title="hub caps">
            <figure>
                <div class="add-col">
                    <img src="./images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
                <figcaption>Hub Caps</figcaption>
            </figure>
        </a>