/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-image: url("/images/site/small_check.jpg");
  background-repeat: repeat;
  }
#wrapper{
  border: 5px;
  border-radius: 25px;
  border-color: #4ec1dc;
  border-style: solid;
  background-color: #ffffff;
  padding: 3%;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  }

/* Header */
#top-header >.siteName {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: left;
  font-size: larger;
  flex-wrap: wrap;
}
#top-header >#tools {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: right;
  flex-wrap: wrap;
}
/* End of Header */
/* This a navigation part */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around; 
    background-color: #242332;
    color: #ffffff;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
  }
/*nav a {
  text-align: center;
  text-decoration: none;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;

}*/
/*nav a:hover {
  background-color: #242332;
  color: #ffffff;
}*/
/* End of navigation*/
/* Main Part*/
.delorean{
  margin: 0 auto;
  width: 100%;
}
.dinfobox{
  position:static;
  padding-left: 20px;
  top: 140px;
  /* background-color: #ffffff; 
  width: 200px;
  padding: 50px;
  margin: 20px;*/
  color: #4ec1dc; 
  /*opacity: .3;*/
}
.owntoday{
  padding: 30px;
  padding-bottom: 0px;
  margin: auto;
  height: 60px;
}
/* 
.column*/ 

/*.center{
  margin-left: auto;
  margin-right: auto;
  width:100%;}
*/
.upgrades{
  column-count: 3;
  column-gap: 20px;
}
.U1{
  background-color: #05b0d3;
  width: 100px;
  height: 110px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.U2{
  background-color: #05b0d3;
  width: 100px;
  height: 95px;
  box-sizing: border-box;
}
.U3{
  background-color: #05b0d3;
  width: 100px;
  height: 95px;
  box-sizing: border-box;
}
.U4{
  background-color: #05b0d3;
  width: 100px;
  height: 110px;
  box-sizing: border-box;
}
/* Footer */
body > footer {
  position: absolute;
  padding: 0.5rem;
  text-align: left;
}


@media screen and (max-width: 900px) {
  
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  
  footer {
      margin-top: 25px;
  }
}