<!-- Content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %>
    
    <%- goBack %>
    
    <!-- message block: -->
    <%# messages() %>
    
    <!-- inventory item display: -->
    <%- upgradePage %>

<div>
    <a href="/addons/bumper-stickers">Bumper Stickers</a>
    <a href="/addons/flame-decals">Decals</a>
    <a href="/addons/hub-caps">Tires</a>
    <a href="/addons/flux-capacitor">Parts</a>
</div>
    