<!-- A content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!--a message #-->
<% messages(404 Error) %>

<!-- the inventory items display -->

<%- grid %>